html{
  box-sizing: border-box;
}

*, *::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
}


img {
  width: 100%;
}

ol {
  margin: 0;
  padding: 1em 0 1em 0;
  text-align: center;
  font-size: 1em;
}

li {
  display: inline-block;
  padding-left: 0.85em;
}

a {
  text-decoration: none;
}

.banner {
  position: relative;
}

.text {
  position: absolute;
}
